name: Build and Release Sultan Kernels

permissions:
  contents: write  # Allow writing to repository contents (for pushing tags)
  actions: write   # Allows triggering actions
  
on:
  workflow_dispatch:

jobs:
  build-kernel-zuma:
    uses: ./.github/workflows/sultan.yml
    secrets: inherit
    with:
      codename: "zuma"
      repo: "android_kernel_google_zuma"
      android_version: "android14"
      kernel_version: "6.1"

  trigger-release:
    runs-on: ubuntu-latest
    needs:
      - build-kernel-zuma
    env:
      REPO_OWNER: TheWildJames
      REPO_NAME: Sultan_KernelSU_SUSFS
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RELEASE_NAME: "Sultan Kernels With KernelSU Next & SUSFS v1.5.12"
      RELEASE_NOTES: |
        This release contains KernelSU Next and SUSFS v1.5.12
        
        ⚠️ **COMPATIBILITY NOTICE** ⚠️
        Please ensure compatibility by comparing release dates with official Sultan kernel releases
        
        Module: 
        -> https://github.com/sidex15/ksu_module_susfs
        
        Managers:
        -> https://github.com/WildKernels/Wild_KSU and others!
        
        Features:
        [+] Wild KSU
        [+] SUSFS v1.5.12

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate and Create New Tag
        run: |
          LATEST_TAG=$(gh api repos/$REPO_OWNER/$REPO_NAME/tags --jq '.[0].name' || true)
          if [ -z "$LATEST_TAG" ]; then
            LATEST_TAG="v1.5.12-r0"
          fi

          NEW_TAG=$(echo "$LATEST_TAG" | awk -F'-r' '{suffix=$2; if (!suffix) suffix=0; suffix++; printf "%s-r%d", $1, suffix}')

          echo "New tag: $NEW_TAG"
          echo "NEW_TAG=${NEW_TAG}" >> $GITHUB_ENV

          git tag "$NEW_TAG"
          git push origin "$NEW_TAG"

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./downloaded-artifacts

      - name: Create GitHub Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ env.NEW_TAG }}
          release_name: ${{ env.RELEASE_NAME }}
          body: ${{ env.RELEASE_NOTES }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Assets Dynamically
        run: |
          for file in ./downloaded-artifacts/kernel-*/*; do
            if [ -d "$file" ]; then
              continue
            fi
            echo "Uploading $file..."
            gh release upload "${NEW_TAG}" "$file"
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEW_TAG: ${{ env.NEW_TAG }}

      - name: Display Files Uploaded
        run: |
          echo "Release assets for ${NEW_TAG}:"
          gh release view "${NEW_TAG}" --json assets --jq '.assets[].name'
